In [1]:
print("Hello World")

Hello World

In [2]:
spark.sql("SELECT 1")

DataFrame[1: int]