### Setup Databases
Run this notebook once to create the necessary databases.

> [!IMPORTANT]
> **Unity Catalog Support**: This notebook uses the `_uri` constants from `formula1_constants.py` specifically for database creation. Standard reading/writing operations in other notebooks can continue to use the `/mnt/` paths.

In [7]:
from formula1.formula1_constants import *

#### Create Databases with Managed Locations
We use the `abfss` URIs here to satisfy Unity Catalog requirements for `MANAGED LOCATION`.

In [2]:
# Create Bronze Database
spark.sql(f"CREATE DATABASE IF NOT EXISTS f1_bronze MANAGED LOCATION '{raw_folder_path_uri}'")

DataFrame[]

In [3]:
# Create Silver Database
spark.sql(f"CREATE DATABASE IF NOT EXISTS f1_silver MANAGED LOCATION '{processed_folder_path_uri}'")

DataFrame[]

In [4]:
# Create Gold Database
spark.sql(f"CREATE DATABASE IF NOT EXISTS f1_gold MANAGED LOCATION '{presentation_folder_path_uri}'")

DataFrame[]

In [6]:
display(spark.sql("SHOW DATABASES"))

DataFrame[databaseName: string]